/** hacer que las cajas queden horizontales

*/

body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box1 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box2 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box3 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box4 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box5 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box6 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box7 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box8 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box9 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box10 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;
}
.box11 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;

}
.box12 {
  width: 63px;
  height: 763px;
  background-color: red;
  margin-right: 45px;

}
